<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Secret Club homepage</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

  <form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-danger btn-block" name="registration"
            type="Submit">Logout
    </button>
  </form>

  <div class="panel-group" style="margin-top:40px">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <span th:utext="${userName}"></span>
      </div>
      <div class="panel-body">


  <div th:each="post:${postList}">
    <h1 th:text="${post.postTitle}"></h1>
    <h2 th:text="${post.postText}"></h2>
    <h3 th:text="${post.getUser().getUserName()}"></h3>
</div>
        <form th:action="@{/postpost}" th:object="${post}" method="POST" class="form-signin">
          <input type="text" id="post_title" th:field="*{postTitle}" name="post_title" placeholder="Post postTitle" class="form-control"><br/>
          <textarea type="text" th:field="*{postText}" placeholder="your secret" id="post_text" name="post_text" class="form-control"></textarea> <br/>

          <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Post" type="Submit" th:text="Publish"></button>

        </form>

      </div>
      <h2 class="admin-message-text text-center" th:utext="${adminMessage}"></h2>
    </div>

  </div>
</div>
</body>
</html>