<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Secret Club homepage</title>



  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/home.css"/>
</head>
<body>
<form th:action="@{/login}" method="get" class="text-center">
  <button class="btn btn-md btn-warning " type="Submit">Go To Login Page</button>
</form>
<div class="container">

  <h1 class="text-center">THE SECRET CLUB</h1>
  <p class="text-center">a project to train and learn on Spring Boot and Thymeleaf</p>
  <p class="text-center">created by <a href="https://github.com/hodeiez">hodei</a></p>
  <p class="text-center">the project idea:</p>
  <p class="text-center">A web where people can register and log in as Secret Club member.</p>
  <p class="text-center">The secret club members can share with a post their secrets and can comment other members secrets.</p>
  <p class="text-center">The most commented post will be published in a public page.</p>
</div>
<h1 class="text-center mt-5 mb-5">THE MOST COMMENTED POST</h1>
<div class="container">
<div th:object="${mostcommented}"  class="card">
  <div id="post-title" th:text="${mostcommented.getPostTitle()}" class="card-header nice-color" >header</div>
  <div id="post-text" th:text="${mostcommented.getPostText()}"class="card-body ">the text</div>
  <div id="post-created" th:text="'created on ' + ${mostcommented.getPostCreated()}"class="card-footer">the text</div>
</div>
</div>
</body>
</html>